body {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: black;
}

body a {
    text-decoration: none;
}

body li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    width: 1500px;
    height: 300px;
    background-color: rgb(243, 223, 136);
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.header-search {
    background: transparent;
    border: none;
}

.header-logo {
    position: absolute;
    margin-left: 30px;
    margin-top: -20px

}

.site-navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

}


.site-navigation a{
    color: inherit;
}

.site-navigation li {
    margin-right: 25px;
}

.header-navigation {
    padding-top: 25px;
}

/* .product-items{
    min-width: 1500px;
    display: flex;
    justify-content: space-between;
} */

.product-items img{
    background-color: rgb(243, 223, 136);
    width: 150px;
    height: 150px;
    padding: 30px;
}

img {
    max-width: 100%;
}

.wrapper-first-line {
    margin-bottom: 50px;
}